<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponderada 5</title>
</head>
<body>
    <h3>Envie uma imagem</h3>
    <p>O objetivo deste site é permitir com que o usuário envie uma foto para o modelo e ele retorne o número que foi detectado.</p>
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
</body>
</html>